/**
 * I do apologize for anything you might see below. I do have really high standards for style sheet organization and
 * I left that at the door trying to get this first version released.
 *
 * FUTURE Organize
 */

/**
 * Font face
 */

@font-face {
	font-family: "sproutapps-ff";
	src: url("sproutapps-ff/sproutapps-ff.eot");
	src: url("sproutapps-ff/sproutapps-ff.eot?#iefix") format("embedded-opentype"),
       url("sproutapps-ff/sproutapps-ff.woff") format("woff"),
       url("sproutapps-ff/sproutapps-ff.ttf") format("truetype"),
       url("sproutapps-ff/sproutapps-ff.svg#sproutapps-ff") format("svg");
	font-weight: normal;
	font-style: normal;
}

.icon-register:before,
.icon-vault:before,
.icon-receipt:before,
.icon-sproutapps-estimates:before,
.icon-calculator:before,
.icon-lightsaber:before,
.icon-notebook:before,
.icon-percentage:before,
.icon-badge:before,
.icon-sproutapps-invoices:before,
.icon-hour-glass:before,
.icon-abacus:before,
.icon-handshake:before,
.icon-light-saber:before,
.icon-hackathon:before,
.icon-golf:before,
.icon-sproutapps-logo:before,
.icon-coins:before,
.icon-sproutapps-flat:before {
	font-family: "sproutapps-ff";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: inherit;
}

.icon-register:before {
	content: "\f100";
}

.icon-vault:before {
	content: "\f101";
}

.icon-receipt:before {
	content: "\f102";
}

.icon-sproutapps-estimates:before {
	content: "\f103";
}

.icon-calculator:before {
	content: "\f104";
}

.icon-lightsaber:before {
	content: "\f105";
}

.icon-notebook:before {
	content: "\f106";
}

.icon-percentage:before {
	content: "\f107";
}

.icon-badge:before {
	content: "\f108";
}

.icon-sproutapps-invoices:before {
	content: "\f109";
}

.icon-hour-glass:before {
	content: "\f10a";
}

.icon-abacus:before {
	content: "\f10b";
}

.icon-handshake:before {
	content: "\f10c";
}

.icon-light-saber:before {
	content: "\f10d";
}

.icon-hackathon:before {
	content: "\f10e";
}

.icon-golf:before {
	content: "\f10f";
}

.icon-sproutapps-logo:before {
	content: "\f110";
}

.icon-coins:before {
	content: "\f111";
}

.icon-sproutapps-flat:before {
	content: "\f112";
}

/**
 * Misc
 */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

.clearfix {
	display: inline-block
}

html[xmlns] .clearfix {
	display: block
}

* html .clearfix {
	height: 1%
}

input[type=date] {
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	background-color: #fff;
	color: #333;
}

.helptip:hover {
	cursor: help
}

.helptip:after {
	content: '\f223';
	color: #C7C7C7;
	font: 400 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 2px 0 0;
	top: 0;
	left: -1px;
	position: relative;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none!important
}

.cloak {
	display: none
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0
}

form.si_settings_form table .wp-editor-wrap {
	max-width: 600px;
}

/**
 * Utility
 */


#menu-posts-sa_estimate .wp-menu-image:before {
	font-family: "sproutapps-ff";
	content: "\f103";
	font-size: 40px;
	margin-top: -16px;
	margin-left: -20px;
}

#adminmenu #menu-posts-sa_estimate .wp-menu-image {
	width: 50px;
}

#menu-posts-sa_invoice .wp-menu-image:before {
	font-family: "sproutapps-ff";
	content: "\f109";
	margin-top: -4px;
}

#toplevel_page_sprout-apps .wp-menu-image:before {
	font-family: "sproutapps-ff";
	content: "\f112";
	font-size: 32px;
	margin-top: -8px;
	margin-left: -10px;
}
@-moz-document url-prefix() {
   #toplevel_page_sprout-apps .wp-menu-image:before {
		font-size: 32px;
		margin-top: -2px;
		margin-left: -12px;
	}
}

#toplevel_page_sprout-apps li.wp-first-item {
	display: none;
}

.si_inline_spinner {
	float: none;
	margin: 0 5px -6px
}

span.inline_error_message {
	margin-left: 10px;
	color: red;
	font-weight: 300
}

span.inline_success_message {
	margin-left: 10px;
	color: green;
	font-weight: 300
}

/**
 * Welcome
 */

#si_dashboard h1 a {
	color: inherit;
	text-decoration: none;
}

#si_dashboard .headline_callout {
	margin: 1.1em 0 .2em;
	font-size: 2.4em;
	font-weight: 300;
	line-height: 1.3;
	text-align: center;
}

#si_dashboard.welcome_content {
	margin-bottom: 30px;
}

#si_dashboard .header_sa_logo {
	float: right;
	max-height: 175px;
	width: auto;
}

#si_dashboard.sprout_apps_dash .header_sa_logo {
	max-height: 125px;
}

#si_dashboard .flow_icon {
	margin-top: -60px;
	font-size: 20vw;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/*/
#si_dashboard .flow_icon.icon-handshake {
	color: #55B5E8;
}
#si_dashboard .flow_icon.icon-sproutapps-estimates {
	color: #FFA500;
}
#si_dashboard .flow_icon.icon-sproutapps-invoices {
	color: #86BD48;
}
/**/

#si_dashboard .flow_icon.icon-sproutapps-invoices {
	font-size: 12vw;
	margin-top: 10px;
	margin-bottom: 55px;
}

#si_dashboard .feature-section {
	margin-top: 10px;
}

img.footer_sa_logo {
	min-width: 40%;
	float: none !important;
	margin-left: 30% !important;
	margin-top: 30px !important;
}

#si_dashboard .rss_widget h4 {
	display: inline-block;
}

#si_dashboard .rss_date {
	display: inline-block;
	margin-left: 10px;
}

#si_dashboard .welcome-panel {
	overflow: visible;
	padding-bottom: 30px;
}

#si_dashboard .rss_widget {
	width: 55%;
	margin-right: 5%;
	float: left;
}

#si_dashboard iframe#twitter-widget-0 {
	width: 40% !important;
	float: right;
}

#si_dashboard.sprout_apps_dash .feature-section {
	margin-top: 50px;
}

#si_dashboard .add_on_img_wrap,
.sa_addon {
	width: 90%;
	position: relative;
	text-align: center;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
	padding: 5%;
}
form table .sa_addon {
	width: 200px;
	margin-bottom: 30px;
}
#si_dashboard .add_on_img_wrap img,
.sa_addon img {
	max-width: 100%;
	height: auto;
}

#si_dashboard .add_on_img_wrap a.purchase_button,
.sa_addon a.purchase_button {
	position: absolute;
	bottom: -5%;
	right: -5%;
}

#si_dashboard .sa_addon_wrap h4,
.sa_addon h4 {
	font-size: 1em;
	font-weight: 300;
	text-align: left;
	background: rgba( 255, 255, 255, .9);
	margin: 0px;
	padding: 5%;
	width: 90%;
	position: absolute;
	top: 0;
	left: 0;
}


span.inline_error_message {
	margin-left: 10px;
	color: red;
	font-weight: 300
}

span.inline_success_message {
	margin-left: 10px;
	color: green;
	font-weight: 300
}

#license_message {
	margin: 5px 0px 10px 2px;
}

#license_message span.inline_success_message,
#license_message span.inline_error_message {
	margin-left: 0;
}
